/*==========================================================================================

	// 共通class

==========================================================================================*/

/* テキストの位置 横 */
.c-tLeft { text-align: left; }
.c-tCenter { text-align: center; }
.c-tRight { text-align: right; }

/* テキストの位置 縦 */
.c-vTop { vertical-align: top; }
.c-vMiddle { vertical-align: middle; }
.c-vBottom { vertical-align: bottom; }

/* フォントの大きさ */
.c-fs6 { font-size: 6px; font-size: 0.6rem; }
.c-fs7 { font-size: 7px; font-size: 0.7rem; }
.c-fs8 { font-size: 8px; font-size: 0.8rem; }
.c-fs9 { font-size: 9px; font-size: 0.9rem; }
.c-fs10 { font-size: 10px; font-size: 1.0rem; }
.c-fs11 { font-size: 11px; font-size: 1.1rem; }
.c-fs12 { font-size: 12px; font-size: 1.2rem; }
.c-fs13 { font-size: 13px; font-size: 1.3rem; }
.c-fs14 { font-size: 14px; font-size: 1.4rem; }
.c-fs15 { font-size: 15px; font-size: 1.5rem; }
.c-fs16 { font-size: 16px; font-size: 1.6rem; }
.c-fs17 { font-size: 17px; font-size: 1.7rem; }
.c-fs18 { font-size: 18px; font-size: 1.8rem; }
.c-fs19 { font-size: 19px; font-size: 1.9rem; }
.c-fs20 { font-size: 20px; font-size: 2.0rem; }
.c-fs21 { font-size: 21px; font-size: 2.1rem; }
.c-fs22 { font-size: 22px; font-size: 2.2rem; }
.c-fs23 { font-size: 23px; font-size: 2.3rem; }
.c-fs24 { font-size: 24px; font-size: 2.4rem; }
.c-fs25 { font-size: 25px; font-size: 2.5rem; }
.c-fs26 { font-size: 26px; font-size: 2.6rem; }
.c-fs27 { font-size: 27px; font-size: 2.7rem; }
.c-fs28 { font-size: 28px; font-size: 2.8rem; }
.c-fs29 { font-size: 29px; font-size: 2.9rem; }
.c-fs30 { font-size: 30px; font-size: 3.0rem; }
.c-fs31 { font-size: 31px; font-size: 3.1rem; }
.c-fs32 { font-size: 32px; font-size: 3.2rem; }
.c-fs33 { font-size: 33px; font-size: 3.3rem; }
.c-fs34 { font-size: 34px; font-size: 3.4rem; }
.c-fs35 { font-size: 35px; font-size: 3.5rem; }
.c-fs36 { font-size: 36px; font-size: 3.6rem; }
.c-fs37 { font-size: 37px; font-size: 3.7rem; }
.c-fs38 { font-size: 38px; font-size: 3.8rem; }
.c-fs39 { font-size: 39px; font-size: 3.9rem; }
.c-fs40 { font-size: 40px; font-size: 4.0rem; }
.c-fs41 { font-size: 41px; font-size: 4.1rem; }
.c-fs42 { font-size: 42px; font-size: 4.2rem; }
.c-fs43 { font-size: 43px; font-size: 4.3rem; }
.c-fs44 { font-size: 44px; font-size: 4.4rem; }
.c-fs45 { font-size: 45px; font-size: 4.5rem; }
.c-fs46 { font-size: 46px; font-size: 4.6rem; }
.c-fs47 { font-size: 47px; font-size: 4.7rem; }
.c-fs48 { font-size: 48px; font-size: 4.8rem; }
.c-fs49 { font-size: 49px; font-size: 4.9rem; }
.c-fs50 { font-size: 50px; font-size: 5.0rem; }
.c-fs60 { font-size: 60px; font-size: 6.0rem; }
.c-fs70 { font-size: 70px; font-size: 7.0rem; }
.c-fs79 { font-size: 79px; font-size: 7.9rem; }
.c-fs80 { font-size: 80px; font-size: 8.0rem; }
.c-fs90 { font-size: 90px; font-size: 9.0rem; }
.c-fs100 { font-size: 100px; font-size: 10rem; }

/* フォントの太さ */
.c-fwN { font-weight: normal; }
.c-fwB { font-weight: bold; }

/* line-height */
.c-lH0 { line-height: 0; }
.c-lH1 { line-height: 1; }
.c-lH11 { line-height: 1.1; }
.c-lH12 { line-height: 1.2; }
.c-lH13 { line-height: 1.3; }
.c-lH14 { line-height: 1.4; }
.c-lH15 { line-height: 1.5; }
.c-lH2 { line-height: 2; }

/* display */
.c-dNone { display: none; }
.c-dBlock { display: block; }
.c-dInline { display: inline; }
.c-dInBlock { display: inline-block; }
.c-dInTbl { display: inline-table; }
.c-tbl { display: table; }
.c-tCell { display: table-cell; }
.c-tRow { display: table-row; }
.c-tColumnGroup { display: table-column-group; }
.c-tColumn { display: table-column; }
.c-dListItem { display: list-item; }
.c-tblLayoutFix { table-layout: fixed; }

/* position */
.c-posAb { position: absolute; }
.c-posRe { position: relative; }

/* flex */
.c-fl { display: flex; }
.c-flW { flex-wrap: wrap; }
.c-flNW { flex-wrap: nowrap; }
.c-flG0 { flex-grow: 0 !important; }
.c-flG1 { flex-grow: 1 !important; }
.c-flG2 { flex-grow: 2 !important; }
.c-flG3 { flex-grow: 3 !important; }
.c-flS0 { flex-shrink: 0 !important; }
.c-flS1 { flex-shrink: 1 !important; }
.c-flS2 { flex-shrink: 2 !important; }
.c-flB50 { flex-basis: 50% !important; }
.c-flB33 { flex-basis: 33.3333333333333333% !important; }
.c-flB25 { flex-basis: 25% !important; }
.c-flRe { flex-direction: row-reverse !important; }
.c-jsLeft { justify-content: flex-start !important; }
.c-jcCenter { justify-content: center !important; }
.c-jcRight { justify-content: end !important; }
.c-jcBt { justify-content: space-between !important; }
.c-jcSA { justify-content: space-around !important; }
.c-jcSE { justify-content: space-evenly !important; }
.c-aliCenter { align-items: center !important; }
.c-aliStart { align-items: flex-start !important; }
.c-aliStretch { align-items: stretch !important; }
.c-alisCenter { align-self: center !important; }
.c-alisStart { align-self: flex-start !important; }
.c-alisEnd { align-self: flex-end !important; }

/* margin */
.c-m0 { margin: 0 !important; }
.c-m1 { margin: 1px !important; }
.c-m2 { margin: 2px !important; }
.c-m3 { margin: 3px !important; }
.c-m4 { margin: 4px !important; }
.c-m5 { margin: 5px !important; }
.c-m6 { margin: 6px !important; }
.c-m7 { margin: 7px !important; }
.c-m8 { margin: 8px !important; }
.c-m9 { margin: 9px !important; }
.c-m10 { margin: 10px !important; }
.c-m11 { margin: 11px !important; }
.c-m12 { margin: 12px !important; }
.c-m13 { margin: 13px !important; }
.c-m14 { margin: 14px !important; }
.c-m15 { margin: 15px !important; }
.c-m16 { margin: 16px !important; }
.c-m17 { margin: 17px !important; }
.c-m18 { margin: 18px !important; }
.c-m19 { margin: 19px !important; }
.c-m20 { margin: 20px !important; }
.c-m21 { margin: 21px !important; }
.c-m22 { margin: 22px !important; }
.c-m23 { margin: 23px !important; }
.c-m24 { margin: 24px !important; }
.c-m25 { margin: 25px !important; }
.c-m26 { margin: 26px !important; }
.c-m27 { margin: 27px !important; }
.c-m28 { margin: 28px !important; }
.c-m29 { margin: 29px !important; }
.c-m30 { margin: 30px !important; }
.c-m31 { margin: 31px !important; }
.c-m32 { margin: 32px !important; }
.c-m33 { margin: 33px !important; }
.c-m34 { margin: 34px !important; }
.c-m35 { margin: 35px !important; }
.c-m36 { margin: 36px !important; }
.c-m37 { margin: 37px !important; }
.c-m38 { margin: 38px !important; }
.c-m39 { margin: 39px !important; }
.c-m40 { margin: 40px !important; }
.c-m41 { margin: 41px !important; }
.c-m42 { margin: 42px !important; }
.c-m43 { margin: 43px !important; }
.c-m44 { margin: 44px !important; }
.c-m45 { margin: 45px !important; }
.c-m46 { margin: 46px !important; }
.c-m47 { margin: 47px !important; }
.c-m48 { margin: 48px !important; }
.c-m49 { margin: 49px !important; }
.c-m50 { margin: 50px !important; }
.c-m60 { margin: 60px !important; }
.c-m70 { margin: 70px !important; }
.c-m80 { margin: 80px !important; }
.c-m90 { margin: 90px !important; }
.c-m100 { margin: 100px !important; }
.c-m150 { margin: 150px !important; }
.c-m200 { margin: 200px !important; }
.c-m250 { margin: 250px !important; }
.c-m300 { margin: 300px !important; }
/* mt */
.c-mt0 { margin-top: 0 !important; }
.c-mt1 { margin-top: 1px !important; }
.c-mt2 { margin-top: 2px !important; }
.c-mt3 { margin-top: 3px !important; }
.c-mt4 { margin-top: 4px !important; }
.c-mt5 { margin-top: 5px !important; }
.c-mt6 { margin-top: 6px !important; }
.c-mt7 { margin-top: 7px !important; }
.c-mt8 { margin-top: 8px !important; }
.c-mt9 { margin-top: 9px !important; }
.c-mt10 { margin-top: 10px !important; }
.c-mt11 { margin-top: 11px !important; }
.c-mt12 { margin-top: 12px !important; }
.c-mt13 { margin-top: 13px !important; }
.c-mt14 { margin-top: 14px !important; }
.c-mt15 { margin-top: 15px !important; }
.c-mt16 { margin-top: 16px !important; }
.c-mt17 { margin-top: 17px !important; }
.c-mt18 { margin-top: 18px !important; }
.c-mt19 { margin-top: 19px !important; }
.c-mt20 { margin-top: 20px !important; }
.c-mt21 { margin-top: 21px !important; }
.c-mt22 { margin-top: 22px !important; }
.c-mt23 { margin-top: 23px !important; }
.c-mt24 { margin-top: 24px !important; }
.c-mt25 { margin-top: 25px !important; }
.c-mt26 { margin-top: 26px !important; }
.c-mt27 { margin-top: 27px !important; }
.c-mt28 { margin-top: 28px !important; }
.c-mt29 { margin-top: 29px !important; }
.c-mt30 { margin-top: 30px !important; }
.c-mt31 { margin-top: 31px !important; }
.c-mt32 { margin-top: 32px !important; }
.c-mt33 { margin-top: 33px !important; }
.c-mt34 { margin-top: 34px !important; }
.c-mt35 { margin-top: 35px !important; }
.c-mt36 { margin-top: 36px !important; }
.c-mt37 { margin-top: 37px !important; }
.c-mt38 { margin-top: 38px !important; }
.c-mt39 { margin-top: 39px !important; }
.c-mt40 { margin-top: 40px !important; }
.c-mt41 { margin-top: 41px !important; }
.c-mt42 { margin-top: 42px !important; }
.c-mt43 { margin-top: 43px !important; }
.c-mt44 { margin-top: 44px !important; }
.c-mt45 { margin-top: 45px !important; }
.c-mt46 { margin-top: 46px !important; }
.c-mt47 { margin-top: 47px !important; }
.c-mt48 { margin-top: 48px !important; }
.c-mt49 { margin-top: 49px !important; }
.c-mt50 { margin-top: 50px !important; }
.c-mt60 { margin-top: 60px !important; }
.c-mt70 { margin-top: 70px !important; }
.c-mt80 { margin-top: 80px !important; }
.c-mt90 { margin-top: 90px !important; }
.c-mt100 { margin-top: 100px !important; }
.c-mt150 { margin-top: 150px !important; }
.c-mt200 { margin-top: 200px !important; }
.c-mt250 { margin-top: 250px !important; }
.c-mt300 { margin-top: 300px !important; }
/* mb */
.c-mb0 { margin-bottom: 0 !important; }
.c-mb1 { margin-bottom: 1px !important; }
.c-mb2 { margin-bottom: 2px !important; }
.c-mb3 { margin-bottom: 3px !important; }
.c-mb4 { margin-bottom: 4px !important; }
.c-mb5 { margin-bottom: 5px !important; }
.c-mb6 { margin-bottom: 6px !important; }
.c-mb7 { margin-bottom: 7px !important; }
.c-mb8 { margin-bottom: 8px !important; }
.c-mb9 { margin-bottom: 9px !important; }
.c-mb10 { margin-bottom: 10px !important; }
.c-mb11 { margin-bottom: 11px !important; }
.c-mb12 { margin-bottom: 12px !important; }
.c-mb13 { margin-bottom: 13px !important; }
.c-mb14 { margin-bottom: 14px !important; }
.c-mb15 { margin-bottom: 15px !important; }
.c-mb16 { margin-bottom: 16px !important; }
.c-mb17 { margin-bottom: 17px !important; }
.c-mb18 { margin-bottom: 18px !important; }
.c-mb19 { margin-bottom: 19px !important; }
.c-mb20 { margin-bottom: 20px !important; }
.c-mb21 { margin-bottom: 21px !important; }
.c-mb22 { margin-bottom: 22px !important; }
.c-mb23 { margin-bottom: 23px !important; }
.c-mb24 { margin-bottom: 24px !important; }
.c-mb25 { margin-bottom: 25px !important; }
.c-mb26 { margin-bottom: 26px !important; }
.c-mb27 { margin-bottom: 27px !important; }
.c-mb28 { margin-bottom: 28px !important; }
.c-mb29 { margin-bottom: 29px !important; }
.c-mb30 { margin-bottom: 30px !important; }
.c-mb31 { margin-bottom: 31px !important; }
.c-mb32 { margin-bottom: 32px !important; }
.c-mb33 { margin-bottom: 33px !important; }
.c-mb34 { margin-bottom: 34px !important; }
.c-mb35 { margin-bottom: 35px !important; }
.c-mb36 { margin-bottom: 36px !important; }
.c-mb37 { margin-bottom: 37px !important; }
.c-mb38 { margin-bottom: 38px !important; }
.c-mb39 { margin-bottom: 39px !important; }
.c-mb40 { margin-bottom: 40px !important; }
.c-mb41 { margin-bottom: 41px !important; }
.c-mb42 { margin-bottom: 42px !important; }
.c-mb43 { margin-bottom: 43px !important; }
.c-mb44 { margin-bottom: 44px !important; }
.c-mb45 { margin-bottom: 45px !important; }
.c-mb46 { margin-bottom: 46px !important; }
.c-mb47 { margin-bottom: 47px !important; }
.c-mb48 { margin-bottom: 48px !important; }
.c-mb49 { margin-bottom: 49px !important; }
.c-mb50 { margin-bottom: 50px !important; }
.c-mb60 { margin-bottom: 60px !important; }
.c-mb70 { margin-bottom: 70px !important; }
.c-mb80 { margin-bottom: 80px !important; }
.c-mb90 { margin-bottom: 90px !important; }
.c-mb100 { margin-bottom: 100px !important; }
.c-mb150 { margin-bottom: 150px !important; }
.c-mb200 { margin-bottom: 200px !important; }
.c-mb250 { margin-bottom: 250px !important; }
.c-mb300 { margin-bottom: 300px !important; }
/* ml */
.c-ml0 { margin-left: 0 !important; }
.c-ml1 { margin-left: 1px !important; }
.c-ml2{ margin-left: 2px !important; }
.c-ml3{ margin-left: 3px !important; }
.c-ml4{ margin-left: 4px !important; }
.c-ml5{ margin-left: 5px !important; }
.c-ml6{ margin-left: 6px !important; }
.c-ml7{ margin-left: 7px !important; }
.c-ml8{ margin-left: 8px !important; }
.c-ml9{ margin-left: 9px !important; }
.c-ml10{ margin-left: 10px !important; }
.c-ml11{ margin-left: 11px !important; }
.c-ml12{ margin-left: 12px !important; }
.c-ml13{ margin-left: 13px !important; }
.c-ml14{ margin-left: 14px !important; }
.c-ml15{ margin-left: 15px !important; }
.c-ml16{ margin-left: 16px !important; }
.c-ml17{ margin-left: 17px !important; }
.c-ml18{ margin-left: 18px !important; }
.c-ml19{ margin-left: 19px !important; }
.c-ml20{ margin-left: 20px !important; }
.c-ml21{ margin-left: 21px !important; }
.c-ml22{ margin-left: 22px !important; }
.c-ml23{ margin-left: 23px !important; }
.c-ml24{ margin-left: 24px !important; }
.c-ml25{ margin-left: 25px !important; }
.c-ml26{ margin-left: 26px !important; }
.c-ml27{ margin-left: 27px !important; }
.c-ml28{ margin-left: 28px !important; }
.c-ml29{ margin-left: 29px !important; }
.c-ml30{ margin-left: 30px !important; }
.c-ml31{ margin-left: 31px !important; }
.c-ml32{ margin-left: 32px !important; }
.c-ml33{ margin-left: 33px !important; }
.c-ml34{ margin-left: 34px !important; }
.c-ml35{ margin-left: 35px !important; }
.c-ml36{ margin-left: 36px !important; }
.c-ml37{ margin-left: 37px !important; }
.c-ml38{ margin-left: 38px !important; }
.c-ml39{ margin-left: 39px !important; }
.c-ml40{ margin-left: 40px !important; }
.c-ml41{ margin-left: 41px !important; }
.c-ml42{ margin-left: 42px !important; }
.c-ml43{ margin-left: 43px !important; }
.c-ml44{ margin-left: 44px !important; }
.c-ml45{ margin-left: 45px !important; }
.c-ml46{ margin-left: 46px !important; }
.c-ml47{ margin-left: 47px !important; }
.c-ml48{ margin-left: 48px !important; }
.c-ml49{ margin-left: 49px !important; }
.c-ml50{ margin-left: 50px !important; }
.c-ml60{ margin-left: 60px !important; }
.c-ml70{ margin-left: 70px !important; }
.c-ml80{ margin-left: 80px !important; }
.c-ml90{ margin-left: 90px !important; }
.c-ml100{ margin-left: 100px !important; }
.c-ml150{ margin-left: 150px !important; }
.c-ml200{ margin-left: 200px !important; }
.c-ml250{ margin-left: 250px !important; }
.c-ml300{ margin-left: 300px !important; }
/* mr */
.c-mr0 { margin-right: 0 !important; }
.c-mr1 { margin-right: 1px !important; }
.c-mr2 { margin-right: 2px !important; }
.c-mr3 { margin-right: 3px !important; }
.c-mr4 { margin-right: 4px !important; }
.c-mr5 { margin-right: 5px !important; }
.c-mr6 { margin-right: 6px !important; }
.c-mr7 { margin-right: 7px !important; }
.c-mr8 { margin-right: 8px !important; }
.c-mr9 { margin-right: 9px !important; }
.c-mr10 { margin-right: 10px !important; }
.c-mr11 { margin-right: 11px !important; }
.c-mr12 { margin-right: 12px !important; }
.c-mr13 { margin-right: 13px !important; }
.c-mr14 { margin-right: 14px !important; }
.c-mr15 { margin-right: 15px !important; }
.c-mr16 { margin-right: 16px !important; }
.c-mr17 { margin-right: 17px !important; }
.c-mr18 { margin-right: 18px !important; }
.c-mr19 { margin-right: 19px !important; }
.c-mr20 { margin-right: 20px !important; }
.c-mr21 { margin-right: 21px !important; }
.c-mr22 { margin-right: 22px !important; }
.c-mr23 { margin-right: 23px !important; }
.c-mr24 { margin-right: 24px !important; }
.c-mr25 { margin-right: 25px !important; }
.c-mr26 { margin-right: 26px !important; }
.c-mr27 { margin-right: 27px !important; }
.c-mr28 { margin-right: 28px !important; }
.c-mr29 { margin-right: 29px !important; }
.c-mr30 { margin-right: 30px !important; }
.c-mr31 { margin-right: 31px !important; }
.c-mr32 { margin-right: 32px !important; }
.c-mr33 { margin-right: 33px !important; }
.c-mr34 { margin-right: 34px !important; }
.c-mr35 { margin-right: 35px !important; }
.c-mr36 { margin-right: 36px !important; }
.c-mr37 { margin-right: 37px !important; }
.c-mr38 { margin-right: 38px !important; }
.c-mr39 { margin-right: 39px !important; }
.c-mr40 { margin-right: 40px !important; }
.c-mr41 { margin-right: 41px !important; }
.c-mr42 { margin-right: 42px !important; }
.c-mr43 { margin-right: 43px !important; }
.c-mr44 { margin-right: 44px !important; }
.c-mr45 { margin-right: 45px !important; }
.c-mr46 { margin-right: 46px !important; }
.c-mr47 { margin-right: 47px !important; }
.c-mr48 { margin-right: 48px !important; }
.c-mr49 { margin-right: 49px !important; }
.c-mr50 { margin-right: 50px !important; }
.c-mr60 { margin-right: 60px !important; }
.c-mr70 { margin-right: 70px !important; }
.c-mr80 { margin-right: 80px !important; }
.c-mr90 { margin-right: 90px !important; }
.c-mr100 { margin-right: 100px !important; }
.c-mr150 { margin-right: 150px !important; }
.c-mr200 { margin-right: 200px !important; }
.c-mr250 { margin-right: 250px !important; }
.c-mr300 { margin-right: 300px !important; }

/* auto */
.c-mAuto { margin-left: auto !important; margin-right: auto !important; }
.c-mlAuto { margin-left: auto !important; }
.c-mrAuto { margin-right: auto !important; }

/* padding: */
.c-p0 { padding: 0 !important; }
.c-p1 { padding: 1px !important; }
.c-p2 { padding: 2px !important; }
.c-p3 { padding: 3px !important; }
.c-p4 { padding: 4px !important; }
.c-p5 { padding: 5px !important; }
.c-p6 { padding: 6px !important; }
.c-p7 { padding: 7px !important; }
.c-p8 { padding: 8px !important; }
.c-p9 { padding: 9px !important; }
.c-p10 { padding: 10px !important; }
.c-p11 { padding: 11px !important; }
.c-p12 { padding: 12px !important; }
.c-p13 { padding: 13px !important; }
.c-p14 { padding: 14px !important; }
.c-p15 { padding: 15px !important; }
.c-p16 { padding: 16px !important; }
.c-p17 { padding: 17px !important; }
.c-p18 { padding: 18px !important; }
.c-p19 { padding: 19px !important; }
.c-p20 { padding: 20px !important; }
.c-p21 { padding: 21px !important; }
.c-p22 { padding: 22px !important; }
.c-p23 { padding: 23px !important; }
.c-p24 { padding: 24px !important; }
.c-p25 { padding: 25px !important; }
.c-p26 { padding: 26px !important; }
.c-p27 { padding: 27px !important; }
.c-p28 { padding: 28px !important; }
.c-p29 { padding: 29px !important; }
.c-p30 { padding: 30px !important; }
.c-p31 { padding: 31px !important; }
.c-p32 { padding: 32px !important; }
.c-p33 { padding: 33px !important; }
.c-p34 { padding: 34px !important; }
.c-p35 { padding: 35px !important; }
.c-p36 { padding: 36px !important; }
.c-p37 { padding: 37px !important; }
.c-p38 { padding: 38px !important; }
.c-p39 { padding: 39px !important; }
.c-p40 { padding: 40px !important; }
.c-p41 { padding: 41px !important; }
.c-p42 { padding: 42px !important; }
.c-p43 { padding: 43px !important; }
.c-p44 { padding: 44px !important; }
.c-p45 { padding: 45px !important; }
.c-p46 { padding: 46px !important; }
.c-p47 { padding: 47px !important; }
.c-p48 { padding: 48px !important; }
.c-p49 { padding: 49px !important; }
.c-p50 { padding: 50px !important; }
.c-p60 { padding: 60px !important; }
.c-p70 { padding: 70px !important; }
.c-p80 { padding: 80px !important; }
.c-p90 { padding: 90px !important; }
.c-p100 { padding: 100px !important; }
.c-p150 { padding: 150px !important; }
.c-p200 { padding: 200px !important; }
.c-p250 { padding: 250px !important; }
.c-p300 { padding: 300px !important; }
/* pt */
.c-pt0 { padding-top: 0 !important; }
.c-pt1 { padding-top: 1px !important; }
.c-pt2 { padding-top: 2px !important; }
.c-pt3 { padding-top: 3px !important; }
.c-pt4 { padding-top: 4px !important; }
.c-pt5 { padding-top: 5px !important; }
.c-pt6 { padding-top: 6px !important; }
.c-pt7 { padding-top: 7px !important; }
.c-pt8 { padding-top: 8px !important; }
.c-pt9 { padding-top: 9px !important; }
.c-pt10 { padding-top: 10px !important; }
.c-pt11 { padding-top: 11px !important; }
.c-pt12 { padding-top: 12px !important; }
.c-pt13 { padding-top: 13px !important; }
.c-pt14 { padding-top: 14px !important; }
.c-pt15 { padding-top: 15px !important; }
.c-pt16 { padding-top: 16px !important; }
.c-pt17 { padding-top: 17px !important; }
.c-pt18 { padding-top: 18px !important; }
.c-pt19 { padding-top: 19px !important; }
.c-pt20 { padding-top: 20px !important; }
.c-pt21 { padding-top: 21px !important; }
.c-pt22 { padding-top: 22px !important; }
.c-pt23 { padding-top: 23px !important; }
.c-pt24 { padding-top: 24px !important; }
.c-pt25 { padding-top: 25px !important; }
.c-pt26 { padding-top: 26px !important; }
.c-pt27 { padding-top: 27px !important; }
.c-pt28 { padding-top: 28px !important; }
.c-pt29 { padding-top: 29px !important; }
.c-pt30 { padding-top: 30px !important; }
.c-pt31 { padding-top: 31px !important; }
.c-pt32 { padding-top: 32px !important; }
.c-pt33 { padding-top: 33px !important; }
.c-pt34 { padding-top: 34px !important; }
.c-pt35 { padding-top: 35px !important; }
.c-pt36 { padding-top: 36px !important; }
.c-pt37 { padding-top: 37px !important; }
.c-pt38 { padding-top: 38px !important; }
.c-pt39 { padding-top: 39px !important; }
.c-pt40 { padding-top: 40px !important; }
.c-pt41 { padding-top: 41px !important; }
.c-pt42 { padding-top: 42px !important; }
.c-pt43 { padding-top: 43px !important; }
.c-pt44 { padding-top: 44px !important; }
.c-pt45 { padding-top: 45px !important; }
.c-pt46 { padding-top: 46px !important; }
.c-pt47 { padding-top: 47px !important; }
.c-pt48 { padding-top: 48px !important; }
.c-pt49 { padding-top: 49px !important; }
.c-pt50 { padding-top: 50px !important; }
.c-pt60 { padding-top: 60px !important; }
.c-pt70 { padding-top: 70px !important; }
.c-pt80 { padding-top: 80px !important; }
.c-pt90 { padding-top: 90px !important; }
.c-pt100 { padding-top: 100px !important; }
.c-pt150 { padding-top: 150px !important; }
.c-pt200 { padding-top: 200px !important; }
.c-pt250 { padding-top: 250px !important; }
.c-pt300 { padding-top: 300px !important; }
/* pb */
.c-pb0 { padding-bottom: 0 !important; }
.c-pb1 { padding-bottom: 1px !important; }
.c-pb2 { padding-bottom: 2px !important; }
.c-pb3 { padding-bottom: 3px !important; }
.c-pb4 { padding-bottom: 4px !important; }
.c-pb5 { padding-bottom: 5px !important; }
.c-pb6 { padding-bottom: 6px !important; }
.c-pb7 { padding-bottom: 7px !important; }
.c-pb8 { padding-bottom: 8px !important; }
.c-pb9 { padding-bottom: 9px !important; }
.c-pb10 { padding-bottom: 10px !important; }
.c-pb11 { padding-bottom: 11px !important; }
.c-pb12 { padding-bottom: 12px !important; }
.c-pb13 { padding-bottom: 13px !important; }
.c-pb14 { padding-bottom: 14px !important; }
.c-pb15 { padding-bottom: 15px !important; }
.c-pb16 { padding-bottom: 16px !important; }
.c-pb17 { padding-bottom: 17px !important; }
.c-pb18 { padding-bottom: 18px !important; }
.c-pb19 { padding-bottom: 19px !important; }
.c-pb20 { padding-bottom: 20px !important; }
.c-pb21 { padding-bottom: 21px !important; }
.c-pb22 { padding-bottom: 22px !important; }
.c-pb23 { padding-bottom: 23px !important; }
.c-pb24 { padding-bottom: 24px !important; }
.c-pb25 { padding-bottom: 25px !important; }
.c-pb26 { padding-bottom: 26px !important; }
.c-pb27 { padding-bottom: 27px !important; }
.c-pb28 { padding-bottom: 28px !important; }
.c-pb29 { padding-bottom: 29px !important; }
.c-pb30 { padding-bottom: 30px !important; }
.c-pb31 { padding-bottom: 31px !important; }
.c-pb32 { padding-bottom: 32px !important; }
.c-pb33 { padding-bottom: 33px !important; }
.c-pb34 { padding-bottom: 34px !important; }
.c-pb35 { padding-bottom: 35px !important; }
.c-pb36 { padding-bottom: 36px !important; }
.c-pb37 { padding-bottom: 37px !important; }
.c-pb38 { padding-bottom: 38px !important; }
.c-pb39 { padding-bottom: 39px !important; }
.c-pb40 { padding-bottom: 40px !important; }
.c-pb41 { padding-bottom: 41px !important; }
.c-pb42 { padding-bottom: 42px !important; }
.c-pb43 { padding-bottom: 43px !important; }
.c-pb44 { padding-bottom: 44px !important; }
.c-pb45 { padding-bottom: 45px !important; }
.c-pb46 { padding-bottom: 46px !important; }
.c-pb47 { padding-bottom: 47px !important; }
.c-pb48 { padding-bottom: 48px !important; }
.c-pb49 { padding-bottom: 49px !important; }
.c-pb50 { padding-bottom: 50px !important; }
.c-pb60 { padding-bottom: 60px !important; }
.c-pb70 { padding-bottom: 70px !important; }
.c-pb80 { padding-bottom: 80px !important; }
.c-pb90 { padding-bottom: 90px !important; }
.c-pb100 { padding-bottom: 100px !important; }
.c-pb150 { padding-bottom: 150px !important; }
.c-pb200 { padding-bottom: 200px !important; }
.c-pb250 { padding-bottom: 250px !important; }
.c-pb300 { padding-bottom: 300px !important; }
/* pl */
.c-pl0 { padding-left: 0 !important; }
.c-pl1 { padding-left: 1px !important; }
.c-pl2 { padding-left: 2px !important; }
.c-pl3 { padding-left: 3px !important; }
.c-pl4 { padding-left: 4px !important; }
.c-pl5 { padding-left: 5px !important; }
.c-pl6 { padding-left: 6px !important; }
.c-pl7 { padding-left: 7px !important; }
.c-pl8 { padding-left: 8px !important; }
.c-pl9 { padding-left: 9px !important; }
.c-pl10 { padding-left: 10px !important; }
.c-pl11 { padding-left: 11px !important; }
.c-pl12 { padding-left: 12px !important; }
.c-pl13 { padding-left: 13px !important; }
.c-pl14 { padding-left: 14px !important; }
.c-pl15 { padding-left: 15px !important; }
.c-pl16 { padding-left: 16px !important; }
.c-pl17 { padding-left: 17px !important; }
.c-pl18 { padding-left: 18px !important; }
.c-pl19 { padding-left: 19px !important; }
.c-pl20 { padding-left: 20px !important; }
.c-pl21 { padding-left: 21px !important; }
.c-pl22 { padding-left: 22px !important; }
.c-pl23 { padding-left: 23px !important; }
.c-pl24 { padding-left: 24px !important; }
.c-pl25 { padding-left: 25px !important; }
.c-pl26 { padding-left: 26px !important; }
.c-pl27 { padding-left: 27px !important; }
.c-pl28 { padding-left: 28px !important; }
.c-pl29 { padding-left: 29px !important; }
.c-pl30 { padding-left: 30px !important; }
.c-pl31 { padding-left: 31px !important; }
.c-pl32 { padding-left: 32px !important; }
.c-pl33 { padding-left: 33px !important; }
.c-pl34 { padding-left: 34px !important; }
.c-pl35 { padding-left: 35px !important; }
.c-pl36 { padding-left: 36px !important; }
.c-pl37 { padding-left: 37px !important; }
.c-pl38 { padding-left: 38px !important; }
.c-pl39 { padding-left: 39px !important; }
.c-pl40 { padding-left: 40px !important; }
.c-pl41 { padding-left: 41px !important; }
.c-pl42 { padding-left: 42px !important; }
.c-pl43 { padding-left: 43px !important; }
.c-pl44 { padding-left: 44px !important; }
.c-pl45 { padding-left: 45px !important; }
.c-pl46 { padding-left: 46px !important; }
.c-pl47 { padding-left: 47px !important; }
.c-pl48 { padding-left: 48px !important; }
.c-pl49 { padding-left: 49px !important; }
.c-pl50 { padding-left: 50px !important; }
.c-pl60 { padding-left: 60px !important; }
.c-pl70 { padding-left: 70px !important; }
.c-pl80 { padding-left: 80px !important; }
.c-pl90 { padding-left: 90px !important; }
.c-pl100 { padding-left: 100px !important; }
.c-pl150 { padding-left: 150px !important; }
.c-pl200 { padding-left: 200px !important; }
.c-pl250 { padding-left: 250px !important; }
.c-pl300 { padding-left: 300px !important; }
/* pr */
.c-pr0 { padding-right: 0 !important; }
.c-pr1 { padding-right: 1px !important; }
.c-pr2 { padding-right: 2px !important; }
.c-pr3 { padding-right: 3px !important; }
.c-pr4 { padding-right: 4px !important; }
.c-pr5 { padding-right: 5px !important; }
.c-pr6 { padding-right: 6px !important; }
.c-pr7 { padding-right: 7px !important; }
.c-pr8 { padding-right: 8px !important; }
.c-pr9 { padding-right: 9px !important; }
.c-pr10 { padding-right: 10px !important; }
.c-pr11 { padding-right: 11px !important; }
.c-pr12 { padding-right: 12px !important; }
.c-pr13 { padding-right: 13px !important; }
.c-pr14 { padding-right: 14px !important; }
.c-pr15 { padding-right: 15px !important; }
.c-pr16 { padding-right: 16px !important; }
.c-pr17 { padding-right: 17px !important; }
.c-pr18 { padding-right: 18px !important; }
.c-pr19 { padding-right: 19px !important; }
.c-pr20 { padding-right: 20px !important; }
.c-pr21 { padding-right: 21px !important; }
.c-pr22 { padding-right: 22px !important; }
.c-pr23 { padding-right: 23px !important; }
.c-pr24 { padding-right: 24px !important; }
.c-pr25 { padding-right: 25px !important; }
.c-pr26 { padding-right: 26px !important; }
.c-pr27 { padding-right: 27px !important; }
.c-pr28 { padding-right: 28px !important; }
.c-pr29 { padding-right: 29px !important; }
.c-pr30 { padding-right: 30px !important; }
.c-pr31 { padding-right: 31px !important; }
.c-pr32 { padding-right: 32px !important; }
.c-pr33 { padding-right: 33px !important; }
.c-pr34 { padding-right: 34px !important; }
.c-pr35 { padding-right: 35px !important; }
.c-pr36 { padding-right: 36px !important; }
.c-pr37 { padding-right: 37px !important; }
.c-pr38 { padding-right: 38px !important; }
.c-pr39 { padding-right: 39px !important; }
.c-pr40 { padding-right: 40px !important; }
.c-pr41 { padding-right: 41px !important; }
.c-pr42 { padding-right: 42px !important; }
.c-pr43 { padding-right: 43px !important; }
.c-pr44 { padding-right: 44px !important; }
.c-pr45 { padding-right: 45px !important; }
.c-pr46 { padding-right: 46px !important; }
.c-pr47 { padding-right: 47px !important; }
.c-pr48 { padding-right: 48px !important; }
.c-pr49 { padding-right: 49px !important; }
.c-pr50 { padding-right: 50px !important; }
.c-pr60 { padding-right: 60px !important; }
.c-pr70 { padding-right: 70px !important; }
.c-pr80 { padding-right: 80px !important; }
.c-pr90 { padding-right: 90px !important; }
.c-pr100 { padding-right: 100px !important; }
.c-pr150 { padding-right: 150px !important; }
.c-pr200 { padding-right: 200px !important; }
.c-pr250 { padding-right: 250px !important; }
.c-pr300 { padding-right: 300px !important; }

/* width */
.c-w0 { width: 0; }
.c-w10 { width: 10px; }
.c-w20 { width: 20px; }
.c-w30 { width: 30px; }
.c-w40 { width: 40px; }
.c-w50 { width: 50px; }
.c-w60 { width: 60px; }
.c-w70 { width: 70px; }
.c-w80 { width: 80px; }
.c-w90 { width: 90px; }
.c-w100 { width: 100px; }
.c-w110 { width: 110px; }
.c-w120 { width: 120px; }
.c-w130 { width: 130px; }
.c-w140 { width: 140px; }
.c-w150 { width: 150px; }
.c-w160 { width: 160px; }
.c-w170 { width: 170px; }
.c-w180 { width: 180px; }
.c-w190 { width: 190px; }
.c-w200 { width: 200px; }
.c-w210 { width: 210px; }
.c-w220 { width: 220px; }
.c-w230 { width: 230px; }
.c-w240 { width: 240px; }
.c-w250 { width: 250px; }
.c-w260 { width: 260px; }
.c-w270 { width: 270px; }
.c-w280 { width: 280px; }
.c-w290 { width: 290px; }
.c-w300 { width: 300px; }
.c-w310 { width: 310px; }
.c-w320 { width: 320px; }
.c-w330 { width: 330px; }
.c-w340 { width: 340px; }
.c-w350 { width: 350px; }
.c-w360 { width: 360px; }
.c-w370 { width: 370px; }
.c-w380 { width: 380px; }
.c-w390 { width: 390px; }
.c-w400 { width: 400px; }
.c-w410 { width: 410px; }
.c-w420 { width: 420px; }
.c-w430 { width: 430px; }
.c-w440 { width: 440px; }
.c-w450 { width: 450px; }
.c-w460 { width: 460px; }
.c-w470 { width: 470px; }
.c-w480 { width: 480px; }
.c-w490 { width: 490px; }
.c-w500 { width: 500px; }
.c-w600 { width: 600px; }
.c-w700 { width: 700px; }
.c-w767 { width: 767px; }
.c-w768 { width: 768px; }
.c-w800 { width: 800px; }
.c-w900 { width: 900px; }
.c-w992 { width: 992px; }
.c-w1000 { width: 1000px; }
.c-w1100 { width: 1100px; }
.c-w1200 { width: 1200px; }
/* width:% */
.c-w5p { width: 5%; }
.c-w10p { width: 10%; }
.c-w12p { width: 12.5%; }
.c-w14p { width: 14.2857143%; }
.c-w15p { width: 15%; }
.c-w16p { width: 16.6666667%; }
.c-w20p { width: 20%; }
.c-w25p { width: 25%; }
.c-w30p { width: 30%; }
.c-w33p { width: 33.33333333333333333333%; }
.c-w35p { width: 35%; }
.c-w40p { width: 40%; }
.c-w45p { width: 45%; }
.c-w50p { width: 50%; }
.c-w55p { width: 55%; }
.c-w60p { width: 60%; }
.c-w65p { width: 65%; }
.c-w70p { width: 70%; }
.c-w75p { width: 75%; }
.c-w80p { width: 80%; }
.c-w85p { width: 85%; }
.c-w90p { width: 90%; }
.c-w95p { width: 95%; }
.c-w100p { width: 100%; }

/* max width */
.c-maxw50p { max-width: 50%; }
.c-maxw80p { max-width: 80%; }
.c-maxw100p { max-width: 100%; }
.c-maxw1000 { max-width: 1000px; }

/* height */
.c-h0 { height: 0; }
.c-h10 { height: 10px; }
.c-h20 { height: 20px; }
.c-h30 { height: 30px; }
.c-h40 { height: 40px; }
.c-h50 { height: 50px; }
.c-h60 { height: 60px; }
.c-h70 { height: 70px; }
.c-h80 { height: 80px; }
.c-h90 { height: 90px; }
.c-h100 { height: 100px; }
.c-h120 { height: 120px; }
.c-h140 { height: 140px; }
.c-h160 { height: 160px; }
.c-h180 { height: 180px; }
.c-h200 { height: 200px; }
.c-h210 { height: 210px; }
.c-h220 { height: 220px; }
.c-h230 { height: 230px; }
.c-h240 { height: 240px; }
.c-h250 { height: 250px; }
.c-h260 { height: 260px; }
.c-h270 { height: 270px; }
.c-h280 { height: 280px; }
.c-h290 { height: 290px; }
.c-h300 { height: 300px; }
.c-h310 { height: 310px; }
.c-h320 { height: 320px; }
.c-h330 { height: 330px; }
.c-h340 { height: 340px; }
.c-h350 { height: 350px; }
.c-h360 { height: 360px; }
.c-h370 { height: 370px; }
.c-h380 { height: 380px; }
.c-h390 { height: 390px; }
.c-h400 { height: 400px; }
.c-h410 { height: 410px; }
.c-h420 { height: 420px; }
.c-h430 { height: 430px; }
.c-h440 { height: 440px; }
.c-h450 { height: 450px; }
.c-h460 { height: 460px; }
.c-h470 { height: 470px; }
.c-h480 { height: 480px; }
.c-h490 { height: 490px; }
.c-h500 { height: 500px; }
.c-h600 { height: 600px; }
.c-h700 { height: 700px; }
.c-h800 { height: 800px; }
.c-h900 { height: 900px; }
.c-h1000 { height: 1000px; }
.c-h1100 { height: 1100px; }
.c-h1200 { height: 1200px; }
/* height:% */
.c-h5p { height: 5%; }
.c-h10p { height: 10%; }
.c-h15p { height: 15%; }
.c-h20p { height: 20%; }
.c-h25p { height: 25%; }
.c-h30p { height: 30%; }
.c-h33p { height: 33.33333333333333333333%; }
.c-h35p { height: 35%; }
.c-h40p { height: 40%; }
.c-h45p { height: 45%; }
.c-h50p { height: 50%; }
.c-h55p { height: 55%; }
.c-h60p { height: 60%; }
.c-h65p { height: 65%; }
.c-h70p { height: 70%; }
.c-h75p { height: 75%; }
.c-h80p { height: 80%; }
.c-h85p { height: 85%; }
.c-h90p { height: 90%; }
.c-h95p { height: 95%; }
.c-h100p { height: 100%; }

/* max height */
.c-maxh50p { max-height: 50%; }
.c-maxh100p { max-height: 100%; }

/* border */
.c-bd { border: solid 1px #eaeaea; }
.c-bt { border-top: solid 1px #eaeaea; }
.c-bb { border-bottom: solid 1px #eaeaea; }
.c-br { border-right: solid 1px #eaeaea; }
.c-bl { border-left: solid 1px #eaeaea; }
.c-btNone { border-top: none; }
.c-bbNone { border-bottom: none; }
.c-brNone { border-right: none; }
.c-blNone { border-left: none; }

/* scroll */
.c-scrollX { overflow-x: scroll; }
.c-scrollY { overflow-y: scroll; }
.c-hiddenX { overflow-x: hidden; }
.c-hiddenY { overflow-y: hidden; }

/* word-break */
.c-wordBreakN { word-break: normal; }
.c-wordBreakB { word-break: break-all; }
.c-wordBreakK { word-break: keep-all; }

/* リンク */
.c-uLine,a.c-uLine { text-decoration: underline; }
.c-curP { cursor: pointer; }
.c-curD { cursor: default; }

/* リストマーク */
.c-disc { list-style-type: disc; }/*黒丸*/
.c-circle { list-style-type: circle; }/*白丸*/
.c-square { list-style-type: square; }/*四角*/
.c-decimal { list-style-type: decimal; }/*数字*/
.c-uAlpha { list-style-type: upper-alpha; }/*大文字アルファベット*/
.c-lAlpha { list-style-type: lower-alpha; }/*小文字アルファベット*/
.c-uRoman { list-style-type: upper-roman; }/*大文字ローマ数字*/
.c-lRoman { list-style-type: lower-roman; }/*小文字ローマ数字*/
.c-dLZero { list-style-type: decimal-leading-zero; }/*2桁の数字*/
.c-lGreek { list-style-type: lower-greek; }/*小文字ギリシャ文字*/
.c-cjkIdeographic { list-style-type: cjk-ideographic; }/*漢数字*/
.c-hiragana { list-style-type: hiragana; }/*ひらがな*/
.c-katakana { list-style-type: katakana; }/*カタカナ*/
.c-hiraIroha { list-style-type: hiragana-iroha; }/*いろは*/
.c-kataIroha { list-style-type: katakana-iroha; }/*イロハ*/

/* テキストを選択させない */
.c-selectNone {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* リンクを非リンクに変える */
.c-linkOut {
	pointer-events:none;/*リンクを非リンクに変える*/
	cursor:default;/*マウスカーソルを矢印のまま変えない*/
	text-decoration:none;
}







