html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 要素のフォントサイズやマージン・パディングをリセットしています
   ========================================================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
a:active,
a:hover {
	outline: 0;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Text-level semantics
   ========================================================================== */
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor: help;
}
b,
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
del {
	text-decoration: line-through;
}

/* Embedded content
   ========================================================================== */
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
figure {
	margin: 0;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
pre {
	overflow: auto;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	max-width:100%;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	word-wrap: break-word; /* 強制改行 */
}
label { max-width: 100%; }
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="datetime"],
input[type="number"],
input[type="color"],
input[type="image"],
textarea  {
	appearance: none; /*  シャドウリセット */	
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	vertical-align:middle;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
/* 入力モードを自動で半角英数字に変更 windows IE/FF */
.ime{
	ime-mode: disabled;
}
/* placeholder */

/*Webkit*/
::-webkit-input-placeholder {color: #999;}
 
/*Firefox 19以降*/
::-moz-placeholder {color: #999;}
 
/*Firefox 18以前*/
:-moz-placeholder {color: #999;}
 
/*Windows IE*/
:-ms-input-placeholder {color: #999;}

/* Tables 隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています
   ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
}

/* nav要素内ulのマーカー（行頭記号）を表示しないようにしています
   ========================================================================== */
ol, ul {
	list-style: none;
}

/* box-sizingを有効にします
   ========================================================================== */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

























